@keyframes login {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
    
}

@keyframes del {
    0%{
        transform: scale(1);
        opacity: 1;

    }
    50%{
        transform: scale(.2);
        opacity: .5;
    }
    100%{
        transform: scale(0);
        opacity: 0;
    }


}



#headbar{
    height:150px;
    width:100%;
    background-color: brown;
}

#loginbut{
    border-color: blue;
    color:blue;
    border-radius: 15%;
}

#loginbut:hover{
    border-color: rgb(0, 149, 255);
    color:rgb(0, 149, 255);
}

#homelog{
   
    color: brown;
    text-align: center;
    padding-top: 20px;
    font-size: 150px;
    

}

#ex{
    animation:login 5s infinite;
    color: brown;
    font-size: 150px;
}

#submitbut{
    
        border-color: blue;
        color:blue;
        border-radius: 15%;
    
}

#submitbut:hover{
    border-color: rgb(0, 149, 255);
    color:rgb(0, 149, 255);
}

#homebut{
   font-size: 60px;
   background-color: brown;
   border-style: unset;
   padding: 10px;
   margin: 5px;
}

#plusinventory{
    display:none;
    width:50vw;
   
}

#editform{
    display: none;
    padding: 5px;
    margin: 5px;
    
}

.del{
    animation: del 2s forwards;
}

#mys{
    box-shadow: 5px 5px 5px 5px lightgray;
    
}

#mys2{
    box-shadow: 5px 5px 5px 5px lightgray;
    
}

.catlink{
    text-decoration-line: none;
}

#mys2:hover{
    transform: scale(1.1);

    
}


#mys3{
    box-shadow: 5px 5px 5px 5px black;
    
}

.receive:hover{
    background-color: lightcoral;
    transform: scale(1.1);
}

#search{
    border-radius: 5px;
}

.receive{
    border-radius: 5px;
}

#homebut:hover{
    transform: scale(1.1);
}